<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <!-- Example Code -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-body-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Gadde Siddartha</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/projects">projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact me</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container my-3">
      <h2 class="text-center">Done By me</h2>

      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img
              src="https://source.unsplash.com/random/500x300/?sun,water"
              class="card-img-top"
              alt="card1"
            />
            <div class="card-body">
              <h5 class="card-title">Weather Application</h5>
              <p class="card-text">
                Fetch and display up-to-date weather information for various
                cities.
              </p>
              <a
                href="https://siddartha799.pythonanywhere.com/"
                class="btn btn-primary"
                >Click here</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img
              src="https://source.unsplash.com/random/500x300/?Food"
              class="card-img-top"
              alt="card2"
            />
            <div class="card-body">
              <h5 class="card-title">Restaurant</h5>
              <p class="card-text">
                Exploring dishes to serve and offering best discount.
              </p>
              <a
                href="https://gaddesiddu.github.io/Restaurant/"
                class="btn btn-primary"
                >Click here</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img
              src="https://source.unsplash.com/random/500x300/?Mountains,Trees"
              class="card-img-top"
              alt="card3"
            />
            <div class="card-body">
              <h5 class="card-title">Parallax Website</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a
                href=" https://gaddesiddu.github.io/Parallax-website/"
                class="btn btn-primary"
                >Click here</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div class="card">
            <img
              src="https://source.unsplash.com/random/500x300/?Mobile development,App development"
              class="card-img-top"
              alt="card4"
            />
            <div class="card-body">
              <h5 class="card-title">Developer landing page</h5>
              <p class="card-text">
                Show casing Front end developments skills.
              </p>
              <a
                href=" https://gaddesiddu.github.io/Developer-landing-page/"
                class="btn btn-primary"
                >Click here</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div class="card">
            <img
              src="https://source.unsplash.com/random/500x300/?abdul kalam,boigraphy"
              class="card-img-top"
              alt="card3"
            />
            <div class="card-body">
              <h5 class="card-title">A.P.J Tribute Page</h5>
              <p class="card-text">Brief sketch about A.P.J</p>
              <a
                href="https://gaddesiddu.github.io/tributepage/"
                class="btn btn-primary"
                >Click here</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div class="card">
            <img
              src="https://source.unsplash.com/random/500x300/?Job,Job Application"
              class="card-img-top"
              alt="card3"
            />
            <div class="card-body">
              <h5 class="card-title">Job Application</h5>
              <p class="card-text">Formal Job Application form</p>
              <a
                href=" https://gaddesiddu.github.io/JobApplication/"
                class="btn btn-primary"
                >Click here</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End Example Code -->
  </body>
</html>
